nodeRed_webbotvivienda
[{"id":"96a1f5c6.d800b8","type":"comment","z":"4d9b2ecd.7d09d","name":"TEST - Conversation IN","info":"","x":116,"y":32,"wires":[]},{"id":"b9c47ccc.c4e6a","type":"inject","z":"4d9b2ecd.7d09d","name":"Hola","topic":"","payload":"Hola","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.0231170654297,"y":71.38186454772949,"wires":[["4c5e72b5.751edc"]]},{"id":"ed517650.224328","type":"inject","z":"4d9b2ecd.7d09d","name":"Cómo puedo cotizar en el Infonavit.","topic":"","payload":"Cómo puedo cotizar en el Infonavit.","payloadType":"str","repeat":"","crontab":"","once":false,"x":182.85646057128906,"y":107.9652099609375,"wires":[["4c5e72b5.751edc"]]},{"id":"9a75ab4c.f46228","type":"inject","z":"4d9b2ecd.7d09d","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.2731170654297,"y":144.8818655014038,"wires":[["4c5e72b5.751edc"]]},{"id":"62dd35d9.6387ac","type":"inject","z":"4d9b2ecd.7d09d","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.7731170654297,"y":180.63186645507812,"wires":[["4c5e72b5.751edc"]]},{"id":"4c5e72b5.751edc","type":"link out","z":"4d9b2ecd.7d09d","name":"testConvIN","links":["6b9a7b71.2518e4"],"x":432.4543151855469,"y":107.13016510009766,"wires":[]},{"id":"62c36e39.b9fdf","type":"watson-conversation-v1","z":"4d9b2ecd.7d09d","name":"Conversacion","workspaceid":"5e1c3a5f-fdc0-4bc8-a5c0-5483257c68de","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":216,"y":460,"wires":[["2e986aeb.80ddb6","db9f399b.6dc388"]]},{"id":"6b9a7b71.2518e4","type":"link in","z":"4d9b2ecd.7d09d","name":"","links":["4c5e72b5.751edc","b61990ac.ba45e"],"x":59.5,"y":460,"wires":[["62c36e39.b9fdf"]]},{"id":"4797bd3d.267104","type":"comment","z":"4d9b2ecd.7d09d","name":"Watson Conversation","info":"","x":120,"y":404,"wires":[]},{"id":"2e986aeb.80ddb6","type":"debug","z":"4d9b2ecd.7d09d","name":"LOG Conversation Output","active":true,"console":"false","complete":"payload","x":454.5,"y":408,"wires":[]},{"id":"385fbfca.3ee11","type":"comment","z":"4d9b2ecd.7d09d","name":"Http Request","info":"","x":87,"y":263,"wires":[]},{"id":"35bf15c4.06df4a","type":"http in","z":"4d9b2ecd.7d09d","name":"Web Bot Vivienda","url":"/webbotvivienda","method":"get","upload":false,"swaggerDoc":"","x":122,"y":311,"wires":[["aaf5aaa4.ab99b8","354f08d3.d80798"]]},{"id":"b61990ac.ba45e","type":"link out","z":"4d9b2ecd.7d09d","name":"testConvIN","links":["6b9a7b71.2518e4"],"x":534,"y":310,"wires":[]},{"id":"aaf5aaa4.ab99b8","type":"function","z":"4d9b2ecd.7d09d","name":"Set Conversation Input","func":"//SI EL MENSAJE DE ENTRADA ES VACIO ESTABLECE UNA BIENVENIDA\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"bienvenida\";\n}\n\nmsg.payload = msg.payload.texto;\n\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":310,"wires":[["b61990ac.ba45e"]]},{"id":"354f08d3.d80798","type":"debug","z":"4d9b2ecd.7d09d","name":"LOG Request","active":true,"console":"false","complete":"payload","x":328.5,"y":265,"wires":[]},{"id":"ea32f067.7e905","type":"http response","z":"4d9b2ecd.7d09d","name":"Http Response","statusCode":"","headers":{},"x":499,"y":619,"wires":[]},{"id":"a073c349.16388","type":"comment","z":"4d9b2ecd.7d09d","name":"Http Response","info":"","x":102,"y":555,"wires":[]},{"id":"db9f399b.6dc388","type":"link out","z":"4d9b2ecd.7d09d","name":"fromConversation","links":["cd6222de.45773"],"x":359.5,"y":459,"wires":[]},{"id":"cd6222de.45773","type":"link in","z":"4d9b2ecd.7d09d","name":"toHttpResponse","links":["db9f399b.6dc388"],"x":56.5,"y":620,"wires":[["fbdd3f44.958bc"]]},{"id":"fbdd3f44.958bc","type":"function","z":"4d9b2ecd.7d09d","name":"Set Conversation Output","func":"//Carga objeto de respuesta\nvar respuesta = {};\nrespuesta.texto = msg.payload.output.text[0];\nrespuesta.contexto = msg.payload.context.conversation_id;\nrespuesta.esSaludo = false;\n\n//Valida si la respuesta es saludo o bienvenida\nif (msg.payload.intents.length===1){\n    if(msg.payload.intents[0].intent === \"saludo\" || msg.payload.intents[0].intent === \"bienvenida\"){\n        respuesta.esSaludo = true;\n    }\n}\n\n//Envia la respuesta como payload\nmsg.payload = respuesta;\n\nreturn msg;","outputs":1,"noerr":0,"x":223.5,"y":620,"wires":[["ea32f067.7e905","1c6eb212.d9158e"]]},{"id":"1c6eb212.d9158e","type":"debug","z":"4d9b2ecd.7d09d","name":"LOG Response","active":true,"console":"false","complete":"payload","x":496.5,"y":570,"wires":[]}]
