nodeRed_webbotvivienda
[{"id":"526216ab.595068","type":"comment","z":"bd7167ef.f55d68","name":"TEST - Conversation IN","info":"","x":130,"y":41,"wires":[]},{"id":"aa0db9da.afa9f8","type":"inject","z":"bd7167ef.f55d68","name":"Hola","topic":"","payload":"Hola","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.0231170654297,"y":80.38186454772949,"wires":[["2953dafd.f3ed56"]]},{"id":"bf3c12d0.9398c","type":"inject","z":"bd7167ef.f55d68","name":"Cómo puedo cotizar en el Infonavit.","topic":"","payload":"Cómo puedo cotizar en el Infonavit.","payloadType":"str","repeat":"","crontab":"","once":false,"x":196.85646057128906,"y":116.9652099609375,"wires":[["2953dafd.f3ed56"]]},{"id":"9f9044e7.d617a8","type":"inject","z":"bd7167ef.f55d68","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":155.2731170654297,"y":153.8818655014038,"wires":[["2953dafd.f3ed56"]]},{"id":"49ab9ab2.4706a4","type":"inject","z":"bd7167ef.f55d68","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":154.7731170654297,"y":189.63186645507812,"wires":[["2953dafd.f3ed56"]]},{"id":"2953dafd.f3ed56","type":"link out","z":"bd7167ef.f55d68","name":"testConvIN","links":["58ff451f.bf471c"],"x":446.4543151855469,"y":116.13016510009766,"wires":[]},{"id":"f1e6a41a.1e17d8","type":"watson-conversation-v1","z":"bd7167ef.f55d68","name":"Conversacion","workspaceid":"5e1c3a5f-fdc0-4bc8-a5c0-5483257c68de","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":230,"y":469,"wires":[["db3070b3.4f384","cf97a7a3.30b8b8"]]},{"id":"58ff451f.bf471c","type":"link in","z":"bd7167ef.f55d68","name":"","links":["2953dafd.f3ed56","810c841b.5f9ab8"],"x":73.5,"y":469,"wires":[["f1e6a41a.1e17d8"]]},{"id":"d771205f.549fe","type":"comment","z":"bd7167ef.f55d68","name":"Watson Conversation","info":"","x":134,"y":413,"wires":[]},{"id":"db3070b3.4f384","type":"debug","z":"bd7167ef.f55d68","name":"LOG Conversation Output","active":true,"console":"false","complete":"payload","x":468.5,"y":417,"wires":[]},{"id":"995b4b35.21ad68","type":"comment","z":"bd7167ef.f55d68","name":"Http Request","info":"","x":101,"y":272,"wires":[]},{"id":"de847bc8.75b418","type":"http in","z":"bd7167ef.f55d68","name":"Web Bot Vivienda","url":"/webbotvivienda","method":"get","upload":false,"swaggerDoc":"","x":136,"y":320,"wires":[["24e20702.879d28","12c21f19.2e7291"]]},{"id":"810c841b.5f9ab8","type":"link out","z":"bd7167ef.f55d68","name":"testConvIN","links":["58ff451f.bf471c"],"x":548,"y":319,"wires":[]},{"id":"24e20702.879d28","type":"function","z":"bd7167ef.f55d68","name":"Set Conversation Input","func":"//SI EL MENSAJE DE ENTRADA ES VACIO ESTABLECE UNA BIENVENIDA\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"bienvenida\";\n}\n\n//Mensaje\nmsg.payload = msg.payload.texto;\n//Contexto\n//msg.params.context=\n//User\n//msg.user=\n\n\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":319,"wires":[["810c841b.5f9ab8"]]},{"id":"12c21f19.2e7291","type":"debug","z":"bd7167ef.f55d68","name":"LOG Request","active":true,"console":"false","complete":"payload","x":342.5,"y":274,"wires":[]},{"id":"7d2400a.c7524","type":"http response","z":"bd7167ef.f55d68","name":"Http Response","statusCode":"","headers":{},"x":513,"y":628,"wires":[]},{"id":"a8f39aa7.512048","type":"comment","z":"bd7167ef.f55d68","name":"Http Response","info":"","x":116,"y":564,"wires":[]},{"id":"cf97a7a3.30b8b8","type":"link out","z":"bd7167ef.f55d68","name":"fromConversation","links":["924f7bc.d2b5988"],"x":373.5,"y":468,"wires":[]},{"id":"924f7bc.d2b5988","type":"link in","z":"bd7167ef.f55d68","name":"toHttpResponse","links":["cf97a7a3.30b8b8"],"x":70.5,"y":629,"wires":[["2b4c51db.9beeee"]]},{"id":"2b4c51db.9beeee","type":"function","z":"bd7167ef.f55d68","name":"Set Conversation Output","func":"//Carga objeto de respuesta\nvar respuesta = {};\nrespuesta.texto = msg.payload.output.text[0];\nrespuesta.contexto = msg.payload.context.conversation_id;\nrespuesta.esSaludo = false;\n\n//Valida si la respuesta es saludo o bienvenida\nif (msg.payload.intents.length===1){\n    if(msg.payload.intents[0].intent === \"saludo\" || msg.payload.intents[0].intent === \"bienvenida\"){\n        respuesta.esSaludo = true;\n    }\n}\n\n//Envia la respuesta como payload\nmsg.payload = respuesta;\n\nreturn msg;","outputs":1,"noerr":0,"x":237.5,"y":629,"wires":[["7d2400a.c7524","43dce5b6.365c2c"]]},{"id":"43dce5b6.365c2c","type":"debug","z":"bd7167ef.f55d68","name":"LOG Response","active":true,"console":"false","complete":"payload","x":510.5,"y":579,"wires":[]}]
