nodeRed_orquestadorWorkspace_2doNivelConversacion
[
    {
        "id": "60e243e2.6a730c",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "TEST - Conversation IN",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "193d4a4.f54eeb6",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Hola",
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 173.0231170654297,
        "y": 79.38186454772949,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "aeca709a.e65208",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Cómo puedo cotizar en el Infonavit.",
        "topic": "",
        "payload": "Cómo puedo cotizar en el Infonavit.",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 186.85646057128906,
        "y": 115.9652099609375,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "feffd47e.a83ba",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Gracias",
        "topic": "",
        "payload": "gracias",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.27311706542969,
        "y": 152.8818655014038,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "3de5cee.4d981b2",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Despedida",
        "topic": "",
        "payload": "adios",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 124.77311706542969,
        "y": 188.63186645507812,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "c455b9c1.edfce8",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testConvIN",
        "links": [
            "b9c84c70.473fc"
        ],
        "x": 436.4543151855469,
        "y": 115.13016510009766,
        "wires": []
    },
    {
        "id": "4a882e1d.c40fd",
        "type": "watson-conversation-v1",
        "z": "819c1ddd.9c947",
        "name": "Conversacion",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 232,
        "y": 986,
        "wires": [
            [
                "8d3137c6.ee3618",
                "37e81806.851518"
            ]
        ]
    },
    {
        "id": "234367e9.84bdf",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "589820cf.2cc7e",
            "efc4d9ad.c5208",
            "746dbcce.de8afc"
        ],
        "x": 75.5,
        "y": 986,
        "wires": [
            [
                "4a882e1d.c40fd"
            ]
        ]
    },
    {
        "id": "e4a06c64.aab988",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Watson Conversation",
        "info": "",
        "x": 136,
        "y": 930,
        "wires": []
    },
    {
        "id": "8d3137c6.ee3618",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Conversation Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 470.5,
        "y": 934,
        "wires": []
    },
    {
        "id": "d2fede0e.73cf1",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Http Request",
        "info": "",
        "x": 91,
        "y": 271,
        "wires": []
    },
    {
        "id": "2670916d.66f506",
        "type": "http in",
        "z": "819c1ddd.9c947",
        "name": "Web Bot Vivienda",
        "url": "/webbotvivienda",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 126,
        "y": 319,
        "wires": [
            [
                "b75bce11.604d08",
                "5be8a569.1b2a94"
            ]
        ]
    },
    {
        "id": "589820cf.2cc7e",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testConvIN",
        "links": [
            "234367e9.84bdf",
            "c10f6ba1.9fcdc",
            "bb2a3985.e0a0e"
        ],
        "x": 676,
        "y": 809,
        "wires": []
    },
    {
        "id": "6b913a82.55d41c",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conversation Router Input",
        "func": "//SI EL MENSAJE DE ENTRADA ES VACIO ESTABLECE UNA BIENVENIDA\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"bienvenida\";\n}\n\n//Mensaje\n\nmsg.payload = msg.payload.texto;\n\n \n//Contexto\nif (msg.payload.contexto !== undefined){\nmsg.params.context= msg.payload.contexto;\n}\n//User\n//msg.user=\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 438.5,
        "y": 572,
        "wires": [
            [
                "2769577e.34dab8"
            ]
        ]
    },
    {
        "id": "b75bce11.604d08",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Request",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 332.5,
        "y": 273,
        "wires": []
    },
    {
        "id": "885af812.a33588",
        "type": "http response",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 515,
        "y": 1153,
        "wires": []
    },
    {
        "id": "c894e6d0.5f52e",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "info": "",
        "x": 118,
        "y": 1089,
        "wires": []
    },
    {
        "id": "37e81806.851518",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "fromConversation",
        "links": [
            "1528b979.288387"
        ],
        "x": 375.5,
        "y": 985,
        "wires": []
    },
    {
        "id": "1528b979.288387",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "toHttpResponse",
        "links": [
            "37e81806.851518",
            "d5bef859.3b5cc8",
            "121eea5e.9f784e"
        ],
        "x": 72.5,
        "y": 1154,
        "wires": [
            [
                "cea1c94a.348b38"
            ]
        ]
    },
    {
        "id": "cea1c94a.348b38",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conversation Output",
        "func": "//Carga objeto de respuesta\nvar respuesta = {};\nrespuesta.texto = msg.payload.output.text[0];\nrespuesta.contexto = msg.payload.context;\nrespuesta.muestraFeedback = false;\nrespuesta.workspaceId = \"\";\n\n//Valida si la respuesta es despedida\nif (msg.payload.intents.length===1){\n    if(msg.payload.intents[0].intent === \"despedida\" || msg.payload.intents[0].intent === \"agradecimientos\"){\n        respuesta.muestraFeedback = true;\n    }\n}\n\nif(msg.payload.intents[0].intent !== \"bienvenida\" && msg.payload.intents[0].intent !== \"despedida\"&& msg.payload.intents[0].intent !== \"agradecimientos\"){\nrespuesta.workspaceId = msg.payload.context.workspace_id;\n}else {respuesta.workspaceId = \"\";}\n\n//Envia la respuesta como payload\nmsg.payload = respuesta;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 239.5,
        "y": 1154,
        "wires": [
            [
                "885af812.a33588",
                "7f117af1.a8a6dc"
            ]
        ]
    },
    {
        "id": "7f117af1.a8a6dc",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Response",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 512.5,
        "y": 1104,
        "wires": []
    },
    {
        "id": "bb89661.9eef498",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Prepara Registro",
        "func": "//PREPARA JSON\nmsg.payload =\n{\n    \"CONVID\": msg.payload.convid,\n    \"RATING\": msg.payload.rating,\n    \"DETALLE\": msg.payload.detalle,\n    \"PREGUNTA\": msg.payload.pregunta\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 365,
        "y": 1340,
        "wires": [
            [
                "addbc62e.ba77b",
                "125b3b26.adbeed"
            ]
        ]
    },
    {
        "id": "3a19e88.de11c98",
        "type": "http in",
        "z": "819c1ddd.9c947",
        "name": "Feedback",
        "url": "/webfeedback",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 115,
        "y": 1340,
        "wires": [
            [
                "bb89661.9eef498",
                "c8afd085.897fd"
            ]
        ]
    },
    {
        "id": "c8afd085.897fd",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Feedback",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 355,
        "y": 1280,
        "wires": []
    },
    {
        "id": "125b3b26.adbeed",
        "type": "http response",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 635,
        "y": 1340,
        "wires": []
    },
    {
        "id": "86030858.5cc518",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Guarda Feedback",
        "info": "",
        "x": 125,
        "y": 1240,
        "wires": []
    },
    {
        "id": "addbc62e.ba77b",
        "type": "dashDB out",
        "z": "819c1ddd.9c947",
        "dashDB": "e5edfa11.013f58",
        "service": "_ext_",
        "table": "BOTFEEDBACK",
        "name": "BD Feedback",
        "x": 635,
        "y": 1400,
        "wires": []
    },
    {
        "id": "36c916b1.698502",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "TEST - dashDB IN",
        "info": "",
        "x": 125,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5c122470.c11bfc",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Prueba BD",
        "topic": "",
        "payload": "{\"CONVID\":\"conv123\",\"RATING\":\"correcto\",\"DETALLE\":\"prueba detalle\",\"PREGUNTA\":\"como obtengo un credito\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 175,
        "y": 1540,
        "wires": [
            [
                "bc47c022.157438"
            ]
        ]
    },
    {
        "id": "359533a9.931b94",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "bc47c022.157438"
        ],
        "x": 470,
        "y": 1400,
        "wires": [
            [
                "addbc62e.ba77b"
            ]
        ]
    },
    {
        "id": "bc47c022.157438",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testDashIn",
        "links": [
            "359533a9.931b94"
        ],
        "x": 290,
        "y": 1540,
        "wires": []
    },
    {
        "id": "b9c84c70.473fc",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "convRouterIN",
        "links": [
            "2769577e.34dab8",
            "c455b9c1.edfce8"
        ],
        "x": 66.5,
        "y": 809.5,
        "wires": [
            [
                "c81acc1.50b5ab"
            ]
        ]
    },
    {
        "id": "3db03e90.9f0482",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Watson Conversation (Workspace Orq)",
        "info": "",
        "x": 177,
        "y": 743,
        "wires": []
    },
    {
        "id": "c81acc1.50b5ab",
        "type": "watson-conversation-v1",
        "z": "819c1ddd.9c947",
        "name": "Conversation Router",
        "workspaceid": "f5c9e8e9-0a16-4027-9b88-2448264b7b94",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 222.5,
        "y": 809.75,
        "wires": [
            [
                "a1b12709.1b474",
                "815bde0c.397ad"
            ]
        ]
    },
    {
        "id": "815bde0c.397ad",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conversation Input",
        "func": "msg.params = { \"workspace_id\": msg.payload.context.workspace_id};\nmsg.payload = msg.payload.input.text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.5,
        "y": 809,
        "wires": [
            [
                "589820cf.2cc7e",
                "ba7b1f16.d5b5c8"
            ]
        ]
    },
    {
        "id": "a1b12709.1b474",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Conversation Router Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 522,
        "y": 753,
        "wires": []
    },
    {
        "id": "5be8a569.1b2a94",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "b0a5266e.407df8"
        ],
        "x": 606.5,
        "y": 315.75,
        "wires": []
    },
    {
        "id": "ba7b1f16.d5b5c8",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 711.5,
        "y": 864.75,
        "wires": []
    },
    {
        "id": "1b76e112.a9aa2f",
        "type": "switch",
        "z": "819c1ddd.9c947",
        "name": "",
        "property": "payload.workspaceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "undefined",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 167.5,
        "y": 545,
        "wires": [
            [
                "6b913a82.55d41c"
            ],
            [
                "6b913a82.55d41c"
            ],
            [
                "6b913a82.55d41c"
            ],
            [
                "360f4232.1c1bc6"
            ]
        ]
    },
    {
        "id": "360f4232.1c1bc6",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conv Input",
        "func": "msg.params = { \"workspace_id\": msg.payload.workspaceId};\n\n//SI EL MENSAJE DE ENTRADA ES VACIO ESTABLECE UNA BIENVENIDA\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"bienvenida\";\n}\n\n//Mensaje\n\nmsg.payload = msg.payload.texto;\n\n \n//Contexto\nif (msg.payload.contexto !== undefined){\nmsg.params.context= msg.payload.contexto;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.5,
        "y": 504,
        "wires": [
            [
                "746dbcce.de8afc"
            ]
        ]
    },
    {
        "id": "2769577e.34dab8",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "b9c84c70.473fc"
        ],
        "x": 639,
        "y": 570,
        "wires": []
    },
    {
        "id": "b0a5266e.407df8",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "switchIN",
        "links": [
            "5be8a569.1b2a94"
        ],
        "x": 60.5,
        "y": 544.5,
        "wires": [
            [
                "1b76e112.a9aa2f"
            ]
        ]
    },
    {
        "id": "746dbcce.de8afc",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testConvIN",
        "links": [
            "234367e9.84bdf",
            "c10f6ba1.9fcdc",
            "bb2a3985.e0a0e"
        ],
        "x": 539,
        "y": 503,
        "wires": []
    },
    {
        "id": "150e31a6.68f75e",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Router Need Validation",
        "info": "",
        "x": 124,
        "y": 440,
        "wires": []
    },
    {
        "id": "e5edfa11.013f58",
        "type": "dashDB",
        "z": "",
        "hostname": "dashdb-entry-yp-dal09-09.services.dal.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": "Dash DB Infonavit"
    }
]
