nodeRed_webbotvivienda
[
    {
        "id": "60e243e2.6a730c",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "TEST - Conversation IN",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "193d4a4.f54eeb6",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Hola",
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 173.0231170654297,
        "y": 79.38186454772949,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "aeca709a.e65208",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Cómo puedo cotizar en el Infonavit.",
        "topic": "",
        "payload": "Cómo puedo cotizar en el Infonavit.",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 186.85646057128906,
        "y": 115.9652099609375,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "feffd47e.a83ba",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Bienvenida",
        "topic": "",
        "payload": "bienvenida",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.27311706542969,
        "y": 152.8818655014038,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "3de5cee.4d981b2",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Despedida",
        "topic": "",
        "payload": "adios",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 124.77311706542969,
        "y": 188.63186645507812,
        "wires": [
            [
                "c455b9c1.edfce8"
            ]
        ]
    },
    {
        "id": "c455b9c1.edfce8",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testConvIN",
        "links": [
            "234367e9.84bdf"
        ],
        "x": 436.4543151855469,
        "y": 115.13016510009766,
        "wires": []
    },
    {
        "id": "4a882e1d.c40fd",
        "type": "watson-conversation-v1",
        "z": "819c1ddd.9c947",
        "name": "Conversacion",
        "workspaceid": "667e7f78-290c-41d3-9785-09aaa72cdba8",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 220,
        "y": 468,
        "wires": [
            [
                "8d3137c6.ee3618",
                "37e81806.851518"
            ]
        ]
    },
    {
        "id": "234367e9.84bdf",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "589820cf.2cc7e",
            "c455b9c1.edfce8"
        ],
        "x": 63.5,
        "y": 468,
        "wires": [
            [
                "4a882e1d.c40fd"
            ]
        ]
    },
    {
        "id": "e4a06c64.aab988",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Watson Conversation",
        "info": "",
        "x": 124,
        "y": 412,
        "wires": []
    },
    {
        "id": "8d3137c6.ee3618",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Conversation Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 458.5,
        "y": 416,
        "wires": []
    },
    {
        "id": "d2fede0e.73cf1",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Http Request",
        "info": "",
        "x": 91,
        "y": 271,
        "wires": []
    },
    {
        "id": "2670916d.66f506",
        "type": "http in",
        "z": "819c1ddd.9c947",
        "name": "Web Bot Vivienda",
        "url": "/webbotvivienda",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 126,
        "y": 319,
        "wires": [
            [
                "6b913a82.55d41c",
                "b75bce11.604d08"
            ]
        ]
    },
    {
        "id": "589820cf.2cc7e",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testConvIN",
        "links": [
            "234367e9.84bdf"
        ],
        "x": 538,
        "y": 318,
        "wires": []
    },
    {
        "id": "6b913a82.55d41c",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conversation Input",
        "func": "//SI EL MENSAJE DE ENTRADA ES VACIO ESTABLECE UNA BIENVENIDA\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"bienvenida\";\n}\n\n//Mensaje\n\nmsg.payload = msg.payload.texto;\n\n \n//Contexto\n//msg.params.context=\n//User\n//msg.user=\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 361.5,
        "y": 318,
        "wires": [
            [
                "589820cf.2cc7e"
            ]
        ]
    },
    {
        "id": "b75bce11.604d08",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Request",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 332.5,
        "y": 273,
        "wires": []
    },
    {
        "id": "885af812.a33588",
        "type": "http response",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 503,
        "y": 627,
        "wires": []
    },
    {
        "id": "c894e6d0.5f52e",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "info": "",
        "x": 106,
        "y": 563,
        "wires": []
    },
    {
        "id": "37e81806.851518",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "fromConversation",
        "links": [
            "1528b979.288387"
        ],
        "x": 363.5,
        "y": 467,
        "wires": []
    },
    {
        "id": "1528b979.288387",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "toHttpResponse",
        "links": [
            "37e81806.851518"
        ],
        "x": 60.5,
        "y": 628,
        "wires": [
            [
                "cea1c94a.348b38"
            ]
        ]
    },
    {
        "id": "cea1c94a.348b38",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Set Conversation Output",
        "func": "//Carga objeto de respuesta\nvar respuesta = {};\nrespuesta.texto = msg.payload.output.text[0];\nrespuesta.contexto = msg.payload.context;\nrespuesta.muestraFeedback = false;\n\n//Valida si la respuesta es saludo o bienvenida\nif (msg.payload.intents.length===1){\n    if(msg.payload.intents[0].intent === \"despedida\" || msg.payload.intents[0].intent === \"bienvenida\"){\n        respuesta.muestraFeedback = true;\n    }\n}\n\n//Envia la respuesta como payload\nmsg.payload = respuesta;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 227.5,
        "y": 628,
        "wires": [
            [
                "885af812.a33588",
                "7f117af1.a8a6dc"
            ]
        ]
    },
    {
        "id": "7f117af1.a8a6dc",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Response",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 500.5,
        "y": 578,
        "wires": []
    },
    {
        "id": "bb89661.9eef498",
        "type": "function",
        "z": "819c1ddd.9c947",
        "name": "Prepara Registro",
        "func": "//PREPARA JSON\nmsg.payload =\n{\n    \"CONVID\": msg.payload.convid,\n    \"RATING\": msg.payload.rating,\n    \"DETALLE\": msg.payload.detalle,\n    \"PREGUNTA\": msg.payload.pregunta\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 820,
        "wires": [
            [
                "addbc62e.ba77b",
                "125b3b26.adbeed"
            ]
        ]
    },
    {
        "id": "3a19e88.de11c98",
        "type": "http in",
        "z": "819c1ddd.9c947",
        "name": "Feedback",
        "url": "/webfeedback",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "bb89661.9eef498",
                "c8afd085.897fd"
            ]
        ]
    },
    {
        "id": "c8afd085.897fd",
        "type": "debug",
        "z": "819c1ddd.9c947",
        "name": "LOG Feedback",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 340,
        "y": 760,
        "wires": []
    },
    {
        "id": "125b3b26.adbeed",
        "type": "http response",
        "z": "819c1ddd.9c947",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "86030858.5cc518",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "Guarda Feedback",
        "info": "",
        "x": 110,
        "y": 720,
        "wires": []
    },
    {
        "id": "addbc62e.ba77b",
        "type": "dashDB out",
        "z": "819c1ddd.9c947",
        "dashDB": "e5edfa11.013f58",
        "service": "_ext_",
        "table": "BOTFEEDBACK",
        "name": "BD Feedback",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "36c916b1.698502",
        "type": "comment",
        "z": "819c1ddd.9c947",
        "name": "TEST - dashDB IN",
        "info": "",
        "x": 110,
        "y": 960,
        "wires": []
    },
    {
        "id": "5c122470.c11bfc",
        "type": "inject",
        "z": "819c1ddd.9c947",
        "name": "Prueba BD",
        "topic": "",
        "payload": "{\"CONVID\":\"conv123\",\"RATING\":\"correcto\",\"DETALLE\":\"prueba detalle\",\"PREGUNTA\":\"como obtengo un credito\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "bc47c022.157438"
            ]
        ]
    },
    {
        "id": "359533a9.931b94",
        "type": "link in",
        "z": "819c1ddd.9c947",
        "name": "",
        "links": [
            "bc47c022.157438"
        ],
        "x": 455,
        "y": 880,
        "wires": [
            [
                "addbc62e.ba77b"
            ]
        ]
    },
    {
        "id": "bc47c022.157438",
        "type": "link out",
        "z": "819c1ddd.9c947",
        "name": "testDashIn",
        "links": [
            "359533a9.931b94"
        ],
        "x": 275,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e5edfa11.013f58",
        "type": "dashDB",
        "z": "",
        "hostname": "dashdb-entry-yp-dal09-09.services.dal.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": "Dash DB Infonavit"
    }
]
